#######################################################################
# EDITORS / IDEs
#######################################################################
# vim
**/*.swp

# Eclipse
Debug
Release
.cproject
.project
.settings

# VS
**.sln
**.vcxproj
**.filters
**.vs/
**.vcxproj.user

# sublime text
*.sublime-workspace
*.sublime-project

# QtCreator
**/*.autosave
*.pro.user
.qmake.stash

#######################################################################
# BUILD SYSTEM
#######################################################################
# binary
OrbitingYeti
OrbitingYeti.exe

build

# cmake
**/makefile
**/Makefile
**/CMakeFiles
**/CmakeScripts
**/CMakeCache.txt
**/Testing
**/install_manifest.txt
**/cmake_install.cmake
**/compile_commands.json
**/CTestTestfile.cmake
